<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="scolta-php">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <!-- Exclude slow groups from the default test run.
       Benchmarks:    vendor/bin/phpunit tests/Benchmark/ -group benchmark
       Large-content: vendor/bin/phpunit tests/LargeContent/ -group large-content -->
  <groups>
    <exclude>
      <group>benchmark</group>
      <group>large-content</group>
    </exclude>
  </groups>

  <coverage>
    <report>
      <text outputFile="php://stdout" showOnlySummary="true"/>
    </report>
  </coverage>
</phpunit>
